pkgbase = nuvemlabs-secrets
	pkgdesc = OS-native secret storage for bash and zsh (libsecret, macOS Keychain, Windows Credential Manager)
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/nuvemlabs/secrets
	arch = any
	license = MIT
	makedepends = git
	depends = bash
	depends = libsecret
	depends = glib2
	optdepends = fzf: interactive picker (secret_fz)
	optdepends = wl-clipboard: copy to clipboard on Wayland (secret_fz -c)
	optdepends = xclip: copy to clipboard on X11 (secret_fz -c)
	source = nuvemlabs-secrets::git+https://github.com/nuvemlabs/secrets.git#tag=v1.1.1
	sha256sums = SKIP

pkgname = nuvemlabs-secrets
